$color-white: #FFFFFF;
$color-black: #000000;
$color-dark-blue-1: #040F1A;
$color-dark-blue-2: #06090C;
$color-dark-blue-3: #06121E;
$color-dark-blue-4: #090D11;
$color-dark-blue-5: #0C2135;
$color-dark-gray-1: #161617;
$color-dark-gray-2: #1A1F25;
$color-dark-gray-3: #232224;
$color-dark-gray-4: #353436;
$color-red-1: #B42B2B;
$color-red-2: #D34040;
$color-red-3: #D94140;
$color-light-gray: #EDEAEF;
$color-off-white: #FEFBFF;