@use '../abstract/variaveis';
@use '../abstract/mixins';


.localizacao-texto h2 {
    @include mixins.fs-fc-fw (34px, variaveis.$color-dark-blue-3, 700);
    text-align: center;
    margin-bottom: 48px;
}

.localizacao-map {
    background-color: variaveis.$color-dark-blue-3;
}